
/*toggle.css */

.form-check-input:checked{
    background-color: #00AA00 !important;
    border-color: #00AA00 !important;
}
.form-switch .form-check-input{
    border: 2px solid #00AA00 !important;

}
input{
 
font-family: Nunito Sans;
font-size: 20px;
font-weight: 400;
line-height: 24px;
letter-spacing: 0.20000000298023224px;
text-align: left;
text-underline-position: from-font;
text-decoration-skip-ink: none;

}

/* Style for the selected day */
.react-datepicker__day--selected {
    background-color: #00AA00; 
    color: white;  
   
  }
  
  /* Optional: Add hover effect */
  .react-datepicker__day--selected:hover {
    background-color: #00AA00;  
  }
  .react-datepicker__header{
    text-align: center;
    background-color: #fff;
    border-bottom: 0px;
    font-family: "Nunito Sans";
  }
 
 
.input-group {
    border-radius: 0;
 
  }
  
 
  .input-group .form-control,
  .input-group .input-group-text {
    border-radius: 0;
    border: 1px solid #00AA00
  }
  
button{
    margin-top: 10px;
    width: 256px;
    height: 40px;
    gap: 0px;
    opacity: 0px;
    background-color: #00AA00;
    color: white;
  }