@import 'bootstrap/dist/css/bootstrap.min.css';

#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
 
  
  font-family: "Nunito Sans";
  line-height: 1.5;
  font-weight: 400;
}
 
body {
  font-family: "Nunito Sans";
  font-weight: 400;

}

h1{
  
font-family: Nunito Sans;
font-size: 28px;
font-weight: 700;
line-height: 32px;
letter-spacing: 0.20000000298023224px;
text-align: left;
text-underline-position: from-font;
text-decoration-skip-ink: none;

}